@import url('https://fonts.cdnfonts.com/css/digital-numbers');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    background-image: url('../img/background.jpg');
    background-size: cover;
}

.buttons {
    /* background-color: blue; */
    height: 70px;
    width: 100%;
    margin: 0 9px -15px 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.buttons button {
    height: 100%;
    width: 200px;
    border-radius: 15px;
    background-color: rgb(3, 159, 3);
    box-shadow: 0 -19px 2px 0 rgba(0, 0, 0, 0.2) inset;
    border: none;
    cursor: pointer;
    z-index: 10;
}
.buttons button p {
    color: white;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0px;
}

#balance {
    position: relative;
    font-family: 'Digital Numbers', sans-serif;
    background-color: rgb(47, 47, 47);
    border-radius: 2px;
    height: 65%;
    width: 180px;
    margin: 6px;
    outline: 6px solid rgb(6, 6, 6);
    transform: translateY(-13px);
    margin-right: auto;
}

#balance p {
    color: rgb(255, 125, 125);
    text-shadow: 0 0 10px red;
    font-size: 30px;
    font-weight: 500;
}

.buttons button:nth-child(2), .buttons button:nth-child(3), .buttons button:nth-child(4){
    display: none;
}

.table-bet {
    display: grid;
    position: relative;
    grid-template-columns: repeat(14, 1fr);
    grid-auto-rows: 80px;
    gap: 3.4px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(3, 159, 3);
    z-index: 20;
}

.table-bet div {
    min-width: 80px;
    font-size: 25px;
    border-radius: 5px;
}

.table-bet div:hover {
    cursor: pointer;
}

.numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
    /* border-radius: 5px; */
}

.numbers.red {
    background-color: red;
}

.numbers.black {
    background-color: black;
}

.numbers.green {
    background-color: darkgreen;
}

.bet {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgreen;
    color: white;
    font-weight: bold;
    /* border: 2px solid #000; */
    /* border-radius: 5px; */
}

.bet-2-to-1 {
    grid-row: span 1;
}

.docena-bet {
    grid-column: span 4;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgreen;
    color: white;
    font-weight: bold;
    /* border: 2px solid #000; */
    /* border-radius: 5px; */
}

.special-bet {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgreen;
    color: white;
    font-weight: bold;
    /* border: 2px solid #000; */
    /* border-radius: 5px; */
}

.big-space {
    grid-row: span 2;
}

#wrong, #erase {
    background-image: url(../img/wrong.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transform: scale(0.7);
    transition: ease .5s;
    cursor: no-drop;
}

#erase {
    background-image: url(../img/restart.png);
    cursor: wait;
}

#wrong:hover, #erase:hover {
    transform: scale(0.8);
}

.color-bet {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    font-weight: bold;
    border: 2px solid #000;
    /* border-radius: 5px; */
}

.color-bet.red {
    background-color: red;
    color: white;
}

.color-bet.black {
    background-color: black;
    color: white;
}

.numbers.zero {
    grid-row: span 3;
}

.chips {
    /* display: grid; */
    display: none;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    padding: 40px;
    transform: scale(0.7);
    opacity: 0;
    position: absolute;
    background-color: white;
    border-radius: 20px;    
    border: 8px solid rgb(63, 63, 63);
    box-shadow: -3px 5px 10px rgba(0, 0, 0, 0.2) inset;
    z-index: 30;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0.3s; /* Transiciones suaves */
}

.chips.active {
    display: grid; /* Asegúrate de que el menú sea visible */
    opacity: 1;
    transform: scale(0.9); /* Tamaño original */
}

.chips.hidden {
    /* Animación de salida */
    opacity: 0;
    transform: scale(0.7); /* Reducción de escala */
}

.chips div {
    height: 180px;
    width: 180px;
    /* background-color: blue; */
    background-position: center center;
}

.chips div:hover {
    cursor: crosshair;
}

.ficha-apuesta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease; /* Efecto de suavidad al colocar */
    z-index: 80;
}